{% extends 'base.html' %}
{% block body %}
<h1 style="text-align:center;color:Bisque;font-family:Times New Roman;"><b>Registration</b></h1>
<div class="col-md-8">
<div class="shadow-normal p-3 mb-3 bg-light rounded card" style="width: 29rem;height: 400px;">
  <div class="card-body">
    <form method="post" class="p-3 shadow">
       {% csrf_token %}
    <input type="text" name="Username" placeholder="Username"><br><br>
    <input type="password" name="Password" placeholder="Password"><br><br>
     <input type="password" name="Confirm Password" placeholder="Confirm Password"><br><br>
       <button class="btn btn-info btn-large"><a href="{% url 'school_store:login' %}">Register</a></button>
<!--        <button style="btn btn-success btn-large" class="{% url 'school_store:new_page' %}">Login</button>-->
</form>


  </div>
</div>
</div>


{% endblock %}