{% extends 'base.html' %}
{% block body %}
<h1 style="text-align:center;color:Bisque;font-family:Times New Roman;"><b>Application Form</b></h1>
<div class="col-md-10">
    <div class="shadow-normal p-3 mb-3 bg-light rounded card" style="width:600px; max-width: 500%; height: 900px;opacity:75%; text-align:left; margin-left:40%;">
        <div class="card-body">

<form method="post" id="orderForm" data-course-url="{% url 'school_store:ajax_load_courses' %}" class="p-3 shadow">
    {% csrf_token %}
     <table>

         <tr>
            <td><label for="material">Materials Required :</label></td>
            <td>
              <input type="checkbox" id="Notebook" name="materials[]" value="Notebook">
              <label for="Notebook">Notebook</label>
              <input type="checkbox" id="Pen" name="materials[]" value="Pen">
              <label for="Pen">Pen</label>
              <input type="checkbox" id="Exam papers" name="materials[]" value="Exam papers">
              <label for="Exam papers">Exam papers</label>
            </td>
          </tr>
          <tr>
              <td>
                  <button class="{% url 'school_store:form_add' %}" onclick='alert("your data has been saved successfully")'>Confirm</button>
                 <button><a href="{% url 'school_store:demo' %}">Logout</a></button> </td></tr>
         {{ forms.as_p }}
    </table>
</form>
        </div>
          <div class="container">
                <button class="btn btn-link btn-large">
                <a href="{% url 'school_store:demo' %}"><b>Home</b></a>
                    </button>
</div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_department").change(function () {
        const url = $("#orderForm").attr("data-course-url");  // get the url of the `load_courses` view
        const departmentId = $(this).val();  // get the selected department ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'department_id': departmentId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_courses` view function
                $("#id_course").html(data);  // replace the contents of the course input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (course) {
                    html_data += `<option value="${course.id}">${course.name}</option>`
                });
                console.log(html_data);
                $("#id_course").html(html_data);

                */
            }
        });

    });
</script>

{% endblock %}